    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        max-width: 100%;
    }
    
    a {
        text-decoration: none;
    }
    
    .centrado {
        width: 1140px;
        max-width: 100%;
        margin: 0 auto;
    }
    /*------------------------- Títulos y Textos ------------------------------*/
    
    .tituloProyecto {
        font-size: 20px;
        font-weight: 400;
        color: #5a7785;
    }
    
    h1 {
        color: #5a7785;
        padding: 20px;
        font-size: 55px;
        font-weight: 300;
        text-align: center;
    }
    
    .h2 {
        padding: 50px 0;
        font: 500 4rem 'Open Sans';
        color: #5a7785;
    }
    
    .h2Blanco {
        padding: 20px;
        font: 500 4rem 'Open Sans';
        text-align: end;
        color: #fff;
        margin-bottom: 50px;
    }
    
    .h2Grey {
        padding: 20px;
        font: 400 4rem 'Open Sans';
        text-align: end;
        color: #5a7785;
    }
    
    .h3 {
        padding: 50px 0;
        font: 400 4.5rem 'Open Sans';
        color: #5a7785;
    }
    
    .h3Blanco {
        padding: 50px 0;
        font: 400 4.5rem 'Open Sans';
        color: #fff;
    }
    
    .h5 {
        font: 400 3rem 'Open Sans';
        color: #fff;
    }
    
    .h5Grey {
        font: 400 3rem 'Open Sans';
        color: #5a7785;
    }
    
    .textWhite {
        width: 95%;
        font: 400 1.5rem 'Open Sans';
        color: rgb(230, 230, 230);
        padding: 15px 0;
    }
    
    .textGrey {
        width: 95%;
        font: 400 1.5rem 'Open Sans';
        color: #636160;
        padding: 15px 0;
    }
    
    .textoLista {
        text-align: center;
        list-style: none;
        font-size: 14px;
        font-weight: bold;
        color: #636160;
        padding: 10px 0;
    }
    
    .textoCentrado {
        text-align: center;
    }
    /* ---- Fotos ---*/
    
    .fotoleft {
        padding: 15px 30px 10px 0;
        float: left;
    }
    
    .fotoright {
        padding: 15px 0 10px 30px;
        float: right;
    }
    
    .fotobio {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    
    .fotobio:hover {
        border-radius: 50%;
        transform: scale(3, 3);
        width: 100px;
        height: 100px;
    }
    /*---------------------Distribución Flex y Float-----------------------*/
    
    .flexFather {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .flexItem {
        justify-self: flex-start;
        align-items: strech;
    }
    
    .left {
        align-self: flex-start;
    }
    
    .right {
        margin-left: auto;
    }
    
    .float {
        float: right;
    }
    /* ------------------------ Listados-----------------*/
    
    ul {
        list-style: none;
    }
    
    .listaBolitas {
        width: 80%;
        list-style-type: circle;
        margin: 0 auto;
    }
    /* --------------------- Tabla ----------------------------------*/
    
    .tabla {
        width: 80%;
        height: auto;
        color: #5a7785;
        text-align: center;
        margin: 30px auto;
        border-radius: 15px;
        border-spacing: 20px 5px;
    }
    
    td {
        padding: 20px;
        font-weight: 300;
        font-size: 14px;
        background-color: #fff;
        border-radius: 10px;
    }
    
    th {
        font-weight: 600;
        font-size: 18px;
        background-color: #A1BBC8;
        color: #fff;
        border-radius: 10px;
    }
    
    .gris {
        background-color: #b7d1df;
    }
    /* ----- Formulario----*/
    
    .contacta {
        width: 100vw;
        padding-top: 70px;
        height: 750px;
        background-image: linear-gradient(to bottom right, rgb(215, 147, 217), rgb(201, 139, 215), rgb(187, 131, 213), rgb(174, 122, 211), rgb(160, 114, 209), rgb(146, 106, 207), rgb(128, 124, 207), rgb(109, 143, 207), rgb(91, 161, 207), rgb(72, 179, 207), rgb(54, 198, 207), rgb(35, 216, 207));
    }
    
    .formulario {
        width: 50%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 18px;
        padding: 20px;
    }
    
    .itemFormulario,
    .itemBotones {
        width: 100%;
        margin: 15px auto;
    }
    
    .btnCentrado {
        text-align: center;
        margin-top: 35px;
    }
    
    .label {
        padding-top: 10px;
    }
    
    .btn-primary {
        color: #fff;
        background-color: rgb(35, 216, 207);
        border-color: rgba(72, 180, 207, 0);
        padding: 5px 25px;
        margin: 0 auto;
    }
    
    .btn-primary:hover {
        color: #fff;
        background-color: rgb(215, 147, 217);
        border-color: rgb(160, 114, 209);
    }
    /*-----------------------------------SECCIONES -----------------------------------*/
    /* -------- SECCIÓN Principal --------*/
    
    .seccionPrincipal {
        padding-top: 70px;
        height: auto;
    }
    
    .sobreMi_resumen {
        margin: left;
        width: auto;
        height: auto;
        padding: 10px;
        font-size: 15px;
        background-color: rgba(255, 255, 255);
        border-radius: 15px;
        box-shadow: 0px 0px 7px 3px #b3cad6;
        text-align: center;
        position: fixed;
        display: inline-block;
        left: 120px;
        top: 356px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: 1;
        z-index: 5;
    }
    /*----------FIN SECCIÓN Principal -------------------------------*/
    /* -------- SECCIÓN Destacados --------*/
    
    .seccionDestacados {
        height: 400px;
        background-image: linear-gradient(to bottom right, rgb(215, 147, 217), rgb(201, 139, 215), rgb(187, 131, 213), rgb(174, 122, 211), rgb(160, 114, 209), rgb(146, 106, 207), rgb(128, 124, 207), rgb(109, 143, 207), rgb(91, 161, 207), rgb(72, 179, 207), rgb(54, 198, 207), rgb(35, 216, 207));
    }
    /*--------------------- Articulos Destacados -------------------------*/
    
    .cajaArticulos {
        margin: 50px auto;
        width: 80vw;
    }
    
    .artDestacado {
        width: 30%;
        margin: 0 auto;
        padding: 0 1rem;
    }
    /*----------FIN SECCIÓN Destacados ------------------------------*/
    /* -------- SECCIÓN Eleva --------*/
    
    .transform:hover {
        transform: scale(1.5, 1.5);
        padding-right: 2px;
    }
    
    .seccionEleva {
        background: rgb(105, 136, 153);
        background-image: linear-gradient(to bottom right, rgb(215, 147, 217), rgb(201, 139, 215), rgb(187, 131, 213), rgb(174, 122, 211), rgb(160, 114, 209), rgb(146, 106, 207), rgb(128, 124, 207), rgb(109, 143, 207), rgb(91, 161, 207), rgb(72, 179, 207), rgb(54, 198, 207), rgb(35, 216, 207));
        height: 535px;
    }
    /*---------PÁGINA SERVICIOS ----------------------------------*/
    /* --- flex Servicios ---*/
    
    .servicios {
        background-image: linear-gradient(to bottom right, rgb(215, 147, 217), rgb(201, 139, 215), rgb(187, 131, 213), rgb(174, 122, 211), rgb(160, 114, 209), rgb(146, 106, 207), rgb(128, 124, 207), rgb(109, 143, 207), rgb(91, 161, 207), rgb(72, 179, 207), rgb(54, 198, 207), rgb(35, 216, 207));
        width: 100wv;
        height: 2300px;
    }
    
    .seccion {
        height: 300px;
        width: 46%;
        text-align: center;
        padding: 20px;
        margin: 20px;
        background-color: #f9f9fa;
        border: 1px solid #E9EEF1;
        border-radius: 18px;
    }
    
    .seccion:hover {
        background-color: #fff;
    }
    /*--------- FIN PÁGINA SERVICIOS ----------------------------------*/
    /*--------- INICIO PÁGINA SOBRE MI ----------------------------------*/
    
    .sobreMiPagina {
        background-image: linear-gradient(to bottom right, rgb(215, 147, 217), rgb(201, 139, 215), rgb(187, 131, 213), rgb(174, 122, 211), rgb(160, 114, 209), rgb(146, 106, 207), rgb(128, 124, 207), rgb(109, 143, 207), rgb(91, 161, 207), rgb(72, 179, 207), rgb(54, 198, 207), rgb(35, 216, 207));
        width: 100wv;
        height: 2400px;
    }
    
    .bannerPagina {
        width: 100vw;
        height: 50px;
        padding-top: 75px;
        background-color: #91bcd1;
    }
    
    .pagina {
        width: 100vw;
        height: 80px;
        padding-top: 70px;
        padding-bottom: 20px;
    }
    
    .biografía {
        position: relative;
    }
    
    .section {
        padding: 20px;
        margin: 20px 0;
    }
    
    .cajalista {
        width: 30%;
        height: auto;
        padding: 20px;
        margin: 10px;
        background-color: #f9f9fa;
        border: 1px solid #E9EEF1;
        border-radius: 18px;
    }
    
    .cajalista:hover {
        background-color: #95cae946;
        border: 1px solid #3c8cbb;
        color: #fff;
    }
    
    .seccionBackground-color {
        background-color: #f9f9fa;
        border-radius: 18px;
        padding: 60px;
    }
    
    .listacajas {
        width: 60%;
        margin: 0 auto;
    }
    /*--------- FIN PÁGINA SOBRE MI ----------------------------------*/
    /*--------- INICIO PÁGINA CONTACTA ----------------------------------*/
    /*_____ MEDIA QUERIES____*/
    
    @media screen and (max-width: 1022px) {}
    
    @media screen and (max-width: 600px) {
        .seccionPrincipal {
            padding-top: 230px;
            height: auto;
        }
    }